<div>
  <h2 class="text-muted">Products -details </h2>


  <div class="card ">
    <div class="row no-gutters" *ngIf="selectedProduct">
      <div class="col-md-6">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let image of selectedProduct.imgs">
            <ng-template carouselSlide><img src="{{image.img}}" width="40px">
            </ng-template>


          </ng-container>

        </owl-carousel-o>
      </div>
      <div class="col-md-6">
        <div class="card-body " style="background-color: rgb(179, 174, 174);height: 100%;">
          <h5 class="card-title">{{selectedProduct.name}}</h5>
          <p class="card-text">{{selectedProduct.description}}</p>
        </div>
      </div>
    </div>
  </div>








</div>