<div [@routerTransition]>
    <h2 class="text-muted">Users </h2>
    

    <!-- /Table for users -->
    <div class="row">
        <div class="col col-xl-12">
            
                <table class="table table-hover  table-bordered table-striped text-center ">
                    <thead>
                        <tr>
                            <th> {{'id' | translate }}</th>
                            <th>{{'Name' | translate }}</th>
                            <th>{{'Phone Number' | translate }}</th>
                            <th>Block/Unblock</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data">
                            <ng-container *ngIf="user.confirmed!=3">
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.name  }}</td>
                                <td>{{ user.phoneNumber }}</td>
                                <td>
                                    <div class="text-center">

                                        <button style="background-color: rgb(175, 174, 174);height: 100%;" *ngIf="!user.block" type="button" class="btn btn-xs "(click)="block(user.id)">
                                            <i class="fa fa-unlock" aria-hidden="true"></i>

                                        </button>
                                    
                                       
                                        <button style="background-color: rgb(124, 122, 122);height: 100%;" *ngIf="user.block" type="button" class="btn btn-xs "(click)="unBlock(user.id)">
                                            <i class="fa fa-lock" aria-hidden="true"></i>

                                        </button>


                                    </div>
                                </td>
                            </ng-container>
                        </tr>



                    </tbody>

                </table>
            
        </div>
    </div>
</div>

