<div [@routerTransition]>
    <h2 class="text-muted">{{'Reports' | translate }} </h2>
   


    <!-- /Table for orders -->
    <div class="row">
        <div class="col col-xl-12">
            
                <table class="table table-hover table-striped table-bordered text-center">
                    <thead>
                      
                        <th> {{'id' | translate }}</th>
                        <th> {{'Report Date' | translate }}</th>
                        <th> {{'Report Number' | translate }}</th>
                        <th> {{'Report Message' | translate }}</th>
                      


                    </thead>
                    <tbody>
                       
                        <tr *ngFor="let report of data">
                            <td >{{ report.acount.id }}</td>
                            <td>{{ report.date }}</td>
                            <td>{{ report.acount.phoneNumber }}</td>
                            <td>{{ report.text}}</td>
                        </tr>
                            

                    </tbody>
                </table>
            
        </div>
    </div>
</div>