<div [@routerTransition]>
    <h2 class="text-muted">{{'Orders' | translate }} </h2>
    
        <div class="form-row align-items-center">

            <div class="col-auto">
                <div class="form-group input-group">
                    <input [(ngModel)]='term' class="form-control" type="text" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>

                </div>
            </div>

        </div>
    


    <!-- /Table for orders -->
    <div class="row">
        <div class="col col-xl-12">
            
                <table class="table table-hover table-bordered  text-center table-striped">
                    <thead>
                        <tr>
                            <th> {{'id' | translate }}</th>
                            <th>{{'Created At' | translate}}</th>
                            <th>{{ 'Order Status' | translate}}</th>
                            <th>{{'Merchant Name' | translate}}</th>
                            <th>{{'Merchant City' | translate}}</th>
                            <th>{{'Customer Name' | translate}}</th>
                            <th>{{'Customer Phone' | translate}}</th>
                            <th>{{'Order Address' | translate}}</th>
                            <th>{{'Product #Id' | translate}}</th>
                            <th>{{'Product Name' | translate}}</th>
                        </tr>

                    </thead>
                    <tbody>


                        <tr *ngFor="let order of data|orderSearch:term">
                            <td>{{ order.id }}</td>
                            <td>{{ order.date }}</td>
                            <td>{{ getOrderStatusText(order.orderStatus)}}</td>
                            <td>{{ order.sealler.projectAName }}</td>
                            <td>{{ order.sealler.city.name}}</td>
                            <td>{{ order.user.name }}</td>
                            <td>{{ order.user.phoneNumber }}</td>
                            <td>{{ order.user.userAddress }}</td>
                            <td>{{ order.productId }}</td>
                            <td>{{ order.product.productAName }}</td>
                        </tr>


                    </tbody>
                </table>
            
        </div>
    </div>
</div>