<div class="col-8 card ">
    <div class="card-body">

      <header class="mb-4">
        <h4 class="modal-title pull-left ">Edit Category</h4>
  
      </header>

  <form *ngIf="post" [formGroup]="EditCategoryForm" (ngSubmit)="submit() ">


    <div class="modal-body">

      <div class="form-group">
        <label class="col-sm-4 control-label">Ar-Name</label>

        <div class="col-sm-10">
          <input id="aName" formControlName="aName" type="text" placeholder="ar-name" class="form-control">


        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Name</label>

        <div class="col-sm-10">
          <input id="name" formControlName="name" type="text" placeholder="name" class="form-control">
        </div>
      </div>
      <div class="form-row">

        <div class="icontext ">

          <!--Add Form-->
          <a (click)="addNewField()">
            <span class="add  ">
              <i class="fa  fa-plus-circle fa-1x " aria-hidden="true"> </i> </span></a>
          <p class="modal-title pull-right  ">Add New Option</p>





        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <section formArrayName="proForm" *ngFor="let option of EditCategoryForm.get('proForm').controls; let i = index;"
          class="container border mb-4 p-3">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-6">
                <h4>Option {{i + 1}}</h4>

              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeOption(i)">Remove</button>
              </div>

            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Name</label>


                  <input id="name" type="text" class="form-control" formControlName="name" placeholder="name" />

                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Ar-Name</label>
                  <input id="aName" type="text" class="form-control" formControlName="aName" placeholder="ar-Name" />

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Type</label>
                  <select id="type" class="form-control" formControlName="type" placeholder="type">
                    <option [ngValue]=0>Text</option>
                    <option [ngValue]=1>Number</option>
                  </select>


                </div>

              </div>
              <!-- <div class="col-6">
                <div class="form-group">
                  <label>Required</label>
                  <input id="required" [value]="option.required" class="form-control" formControlName="required"
                    placeholder="required" />



                </div>

              </div> -->
            </div>



          </div>

        </section>



      </div>
    </div>

    <div class="footer">
      <button class="btn btn-success btn-block" type="submit"> Update </button>

    </div>
    


  </form>

    </div>
</div>