<div [@routerTransition]>
    <h2 class="text-muted">{{'Category ' | translate }}</h2>
    
        <div class="form-row align-items-center">

            <div class="col-auto">
                <div class="form-group input-group">
                    <input [(ngModel)]='term' class="form-control" type="text" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="col-auto">
                        <a [routerLinkActive]="['router-link-active']" routerLink="/add-category" ><button class="btn btn-danger">
                            +Add New Category
                        </button>
                         </a>
                    </div>
                </div>
            </div>

        </div>
    


    <!-- /Table for category -->
    <div class="row">
        <div class="col col-xl-12">
        
                <table class="table table-hover  table-bordered text-center table-striped">
                    <thead>
                        <tr>

                            <th>{{'Name' | translate }}</th>
                            <th>{{'ar-Name' | translate }}</th>
                            <th>Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of data|categorySearch:term">
                            <td>{{category.name}}</td>
                            <td>{{ category.aName }}</td>
                            <td class="">
                                <button class="btn btn-sm btn-danger mr-2 "(click)="deletePost(category.id)">delete</button>
                                
                                <a href="#" [routerLink]="['/edit-category', category.id]" class="btn btn-primary">Edit</a>
                            </td>

                        </tr>

                    </tbody>
                </table>
            
        </div>
    </div>

  
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li  (click)='prev()'  class="page-item"><a class="page-link" >Previous</a></li>
      <li *ngFor="let pageNumber of pageNumbers; let i =index" (click)='changeNumber(pageNumber)' class="page-item"><a class="page-link" >{{pageNumber}}</a></li>
     
      <li (click)='next()'  class="page-item"><a class="page-link" >Next</a></li>
    </ul>
  </nav>