<div [@routerTransition]>
    <h2 class="text-muted"> {{'Registration Requsts' | translate }} </h2>
   

    <!-- /Table for registration requests -->
    <div class="row">
        <div class="col col-xl-12">
            
                <table class="table table-hover  table-bordered table-striped text-center ">
                    <thead>
                        <tr>
                            <th>{{'id' | translate }}</th>
                            <th>{{'Name' | translate }}</th>
                            <th>{{'Phone Number' | translate }}</th>
                            <th>{{'Category' | translate }}</th>

                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data">
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.projectAName }}</td>
                            <td>{{ user.phoneNumber  }}</td>
                            <td>{{ user.proJectType.aName  }}</td>

                            <td>
                                 <button class="btn btn-sm btn-danger mr-2 " (click)="verify(user.id)" type="button">verify</button>
                            </td>

                        </tr>



                    </tbody>
                </table>
            
        </div>
    </div>
</div>