<div class=" col-8 card ">
  <div class="card-body">
    <header class="mb-4">
      <h4 class="modal-title pull-left ">Add New Category</h4>

    </header>
    <form [formGroup]="addNewCategoryForm" (ngSubmit)="logValue(f) " #f="ngForm">



      <div class="modal-body">

        <div class="form-group">
          <label class="col-sm-4 control-label">Ar-Name</label>


          <input formControlName="aName" type="text" placeholder="ar-name" class="form-control">



        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Name</label>


          <input formControlName="name" type="text" placeholder="name" class="form-control">

        </div>
        <div class="form-row">

          <div class="icontext ">

            <!--Add Form-->
            <a (click)="addNewField()">
              <span class="add  ">
                <i class="fa  fa-plus-circle fa-1x " aria-hidden="true"> </i> </span></a>
            <p class="modal-title pull-right  ">Add New Option</p>





          </div>
        </div>



      </div>
      <div class=" justify-content-center">
        <div class="col-8">
          <section class="container border mb-4 p-3" formArrayName="proForm"
            *ngFor="let option of addNewCategoryForm.get('proForm').controls; let i = index;">
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-6">
                  <h4>Option {{i + 1}}</h4>

                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-danger btn-sm" (click)="removeOption(i)">Remove</button>
                </div>


              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Name</label>


                    <input type="text" class="form-control" formControlName="name" placeholder="name" />

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Ar-Name</label>
                    <input type="text" class="form-control" formControlName="aName" placeholder="ar-Name" />

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" formControlName="type" placeholder="type">
                      <option [ngValue]=0>Text</option>
                      <option [ngValue]=1>Number</option>
                    </select>


                  </div>



                </div>
                <div class="col-6 align-self-center mx-auto">

                  <button type="submit" class="btn btn-success btn-block">Save</button>

                </div>
                <!-- <div class="col-6">
              <div class="form-group">
                <label>Required</label>
                <input class="form-control" formControlName="required" placeholder="required" />



              </div>

            </div> -->
              </div>



            </div>

          </section>



        </div>
      </div>

      <div class="form-group">

        <button type="submit" class="btn btn-primary btn-block">Save</button>
      </div>




    </form>
  </div>
</div>