<div [@routerTransition]>
    <h2 class="text-muted">{{ 'Products' | translate }} </h2>
   


    <!-- /Table for Products -->
    <div class="row">
        <div class="col col-xl-12">
            
                <table class="table table-hover  table-bordered text-center table-striped">
                    <thead>
                        <tr>
                            <th> {{ 'id' | translate }} </th>
                            <th>  {{ 'Name' | translate}}</th>
                            <th>{{ 'Available in stock' | translate }}</th>
                            <th>{{ 'Product Price' | translate}}</th>
                            <th>{{ 'Merchant Name' | translate}}</th>
                            <th>{{ 'Merchant Phone' | translate}}</th>
                            <th>{{'Product Category' | translate}}</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of data">
                            <th scope="row">{{ product.id }}</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.price}}</td>
                            <td>{{ product.sealler.projectAName}}</td>
                            <td>{{ product.sealler.phoneNumber}}</td>

                            <td>
                                <a [routerLinkActive]="['router-link-active']"
                                    routerLink="/products-details/{{product.id}}">  {{ product.category.acategory}}
                                    </a>
                               

                            </td>
                           

                        </tr>
                    </tbody>
                </table>
            
        </div>
    </div>
</div>