<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>{{ 'Home' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/products">
            <i class="fa fa-fw fa-bitbucket"></i>&nbsp;
            <span>{{ 'Products' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/category">
            <i class="fa fa-fw fa-align-justify"></i>&nbsp;
            <span>{{ 'Category' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/order">
            <i class="fa fa-fw fa-shopping-cart"></i>&nbsp;
            <span>{{ 'Orders' | translate }}</span>
        </a>
       
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/users">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Users' | translate }}</span>
        </a>
        
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/reports">
            <i class="fa fa-fw fa-file"></i>&nbsp;
            <span>{{ 'Reports' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/registration requests">
            <i class="fa fa-fw fa-copy"></i>&nbsp;
            <span>{{ 'Registration Requests' | translate }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/cities">
            <i class="fa fa-fw fa-building"></i>&nbsp;
            <span>{{ 'Cities' | translate }}</span>
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a (click)="addExpandClass('languages')" class="list-group-item">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li [class.expand]="showMenu === 'languages'" class="nested">
                    <ul class="submenu">
                        <li>
                            <a (click)="changeLang('en')" href="javascript:void(0)">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="changeLang('ar')" href="javascript:void(0)">
                                {{ 'Arabic' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            
        </div>
        <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
            <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
            <span>{{ 'Collapse Sidebar' | translate }}</span>
        </div>
    </div>
</nav>