<h1 style="text-align: center;"><strong>الشروط والأحكام</strong></h1>
<h1 style="text-align: center;">&nbsp;</h1>
<p style="text-align: right;"><strong>شروط الإستخدام</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">يرجى مراجعة هذه الشروط والأحكام بعناية قبل استخدام هذا
        التطبيق.</span></p>
<p style="text-align: right;"><strong>تمهيد</strong></p>
<p style="text-align: right;"><strong>هذا التطبيق جزء من مشروع تعاون المنفذ من جمعية شباب مصر لتنمية المجتمع بالفيوم
        والممول من مؤسسة دروسوس والذى يهدف لدعم المشروعات التعاونية والصغيرة&nbsp;</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">تتضمن شروط الاستخدام (مع الأحكام المشار إليها في هذا
        المستند) تعليمات حول كيفية استخدام تطبيقنا (تعاون )&nbsp; والتصفح والتسجيل ، سواء كمتصفح أو كمستخدم.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">يرجى قراءة شروط الاستخدام أدناه بعناية قبل البدء في
        استخدام تطبيقنا ، حيث إنها تنطبق على استخدامك للتطبيق. نوصي بطباعة نسخة من هذه الشروط كمرجع إذا لزم الأمر في
        المستقبل.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">باستخدامك للتطبيق ، فإنك تؤكد قبولك لشروط الاستخدام هذه
        وتوافق على الالتزام لأحكامه.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">إذا كنت لا تقبل بهذه الشروط ، فلا يحق لك استخدام
        التطبيق.</span></p>
<p style="text-align: right;"><strong>أحكام إضافية</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">تتضمن شروط الاستخدام أيضًا الشروط الإضافية التالية ، والتي
        تنطبق أيضًا على استخدامك للتطبيق:</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">باستخدام التطبيق ، فإن سياسة الخصوصية لـ ( تعاون ) التي
        تنص على الشروط التي نعالج بموجبها البيانات الشخصية التي تقدمها ، أنت تقبل بهذه العملية وتتعهد بأن جميع البيانات
        التي تقدمها صحيحة ودقيقة.</span></p>
<p style="text-align: right;"><strong>التغيرات في الشروط&nbsp;</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">لنا الحق في تعديل هذه الشروط في أي وقت عن طريق تعديل هذه
        الصفحة.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">يرجى التحقق من هذه الصفحة من وقت لآخر لرؤية أي تعديلات
        جديدة ملزمة للمستخدم.</span></p>
<p style="text-align: right;"><strong>تعديلات التطبيق</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">قد نقوم بتحديث محتوى تطبيقنا من وقت لآخر. يرجى ملاحظة أن
        أي جزء من المحتوى قد يتم تطويره&nbsp;</span></p>
<p style="text-align: right;"><strong>حقوق الملكية الفكرية</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">جميع حقوق الملكية الفكرية لتطبيق تعاون مملوكة لجمعية شباب
        مصر لتنمية المجتمع بالفيوم ، وجميع المواد المنشورة محمية بقوانين حقوق النشر والمعاهدات الدولية ، وجميع هذه
        الحقوق محفوظة.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">&nbsp;باستخدام تطبيقنا ، فإنك تتعهد على الالتزام بجميع هذه
        القواعد والشروط والاحتفاظ بجميع حقوق النشر والإشعارات الأخرى في أي محتوى تحصل عليه من تطبيقنا. جميع حقوق ومحتوى
        تطبيقنا محفوظة ، ما لم يتم منحها صراحة.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">لديك الحق في طباعة نسخة واحدة وتحميل أجزاء / اقتباسات من
        محتوى تطبيقنا لاستخدامك الشخصي ومشاركة هذا المحتوى مع أشخاص آخرين في منشأتك.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">لا يحق لك تعديل النسخ الورقية أو الرقمية لأي مادة قمت
        بطباعتها أو تحميلها بأي شكل من الأشكال ، ولا يجوز لك استخدام أي رسوم توضيحية أو صور أو سلسلة من الرسومات المرئية
        أو الصوتية أو غيرها من الرسومات.الاعتراف الدائم بحالتها (والاعتراف بالمشاركين المعتمدين) كمؤلفين لمحتوى
        تطبيقنا.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">ليس لديك الحق في استخدام أي جزء من المحتوى الخاص بنا&nbsp;
        او بمستخدمى التطبيق لأغراض تجارية دون إذن للقيام بذلك منا أو من ممثلينا.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">إذا قمت بطباعة أو نسخ أو تحميل أي جزء من تطبيقنا بما يخالف
        شروط الاستخدام ، فسيتم تعليق حقك في استخدام تطبيقنا على الفور. ستضطر إلى إعادة أو إتلاف المواد التي
        نسختها.</span></p>
<p style="text-align: right;"><strong>سياسة المستخدمين ( العارضين )&nbsp;</strong></p>
<p style="text-align: right;"><strong>هذا التطبيق مخصص لدعم المشروعات التعاونية والصغيرة والحرفية و التي لا يتجاوز
        رأسمالها ......</strong></p>
<p style="text-align: right;">&nbsp;</p>
<ul style="text-align: right;">
    <li><strong><strong>يتحمل العارض كافة المسئوليات عن المحتوى المعروض تحت اسم وحدته الانتاجية&nbsp;</strong></strong>
    </li>
</ul>
<ul>
    <li><strong>يتقدم العارض بطلب انضمام للتطبيق وتحدد جمعية شباب مصر مدى ملائمته للفئة المستهدفة&nbsp;</strong></li>
</ul>
<ul>
    <li><strong>يتحمل العارض مسئولية سياسة الاستبدال والاسترجاع الواردة بقانون حماية المستهلك ويلتزم بها وفى حالة
            مخالفتها يتم انذاره ثم الغاء اشتراكه دون ادني مسئولية على جمعية شباب مصر.&nbsp;</strong></li>
</ul>
<ul>
    <li><strong>لا يجوز للعارضين من الوحدات الانتاجية عرض اى منتجات لم يقم بانتاجها من خلال وحدته الانتاجية وهو المسئول
            عن ملكيته للمنتجات المعروضة .</strong></li>
</ul>
<ul>
    <li><strong>يتحمل العارضين من الوحدات الاستهلاكية والخدمية كافة المسئولية القانونية عن المنتجات المعروضة والخدمات
            المقدمه منهم .</strong></li>
</ul>
<ul>
    <li><strong>يتحمل العارض المسئولية الكاملة لكافة البيانات الورادة على المنتج والاسعار المعلنة عليه ومدى جودته والزمن
            المعلن لتسليم المنتج&nbsp;</strong></li>
</ul>
<ul>
    <li><strong>يتحمل العارض مسئوليات تسليم المنتج وسياسة الدفع ، حيث لا تقوم الجمعية بعمليات الشحن واستلام ثمن المنتجات
            المعروضه.&nbsp;</strong></li>
</ul>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;"><strong>فى حالة مخالفة العارض للسياسات المعلنة يجوز للجمعية حذف أشتراكه من التطبيق ، مع
        مسئوليته القانونية عن المخالفة .</strong><span style="font-weight: 400;">&nbsp;</span></p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;"><strong>سياسة المستخدمين&nbsp;</strong></p>
<p style="text-align: right;">&nbsp;</p>
<ul style="text-align: right;">
    <li><strong><strong>هذا التطبيق هو تطبيق خدمى للعارضين ولا تتحمل الجمعية اى مسئولية تجاه المنتجات او جودتها او
                اسعارها&nbsp; أو طرق شحنها ، ولا يجوز الرجوع علي الجمعية بأي مسئولية قانونية .</strong></strong></li>
</ul>
<ul>
    <li><strong>يجوز للمستخدم فى حالة مخالفة اى عارض لسياسات التطبيق او قانون حماية المستهلك ان يقدم شكوى للجمعية عبر
            التطبيق وتقوم بالتحقيق فيها وفى حالة صحتها يلتزم العارض بتحمل المسئولية واصلاح الخطأ طبقا لقواعد واحكام
            القانون او حذفه من التطبيق .</strong></li>
</ul>
<ul>
    <li><strong>يتحمل المستخدم المسئولية القانونية عن التزامه بسداد الاسعار المعلنة فى حالة موافقة المنتج للشروط
            والاحكام&nbsp; .</strong></li>
</ul>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;">&nbsp;</p>
<ul style="text-align: right;">
    <li><strong><strong>لا يجوز لاى مستخدم اعادة استخدام صور اى منتجات او رسائل اعلانية موجودة على التطبيق بدون اذن
                الجمعية او العارضين&nbsp;</strong></strong></li>
</ul>
<ul>
    <li><strong>فى حالة رسائل التوعية يجوز اعادة استخدامها بدون اذن من الجمعية بشرط عدم اجراء اى تعديل
            بالرسالة&nbsp;</strong></li>
</ul>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;">&nbsp;</p>
<ul style="text-align: right;">
    <li><strong><strong>الأنشطة المحظورة</strong></strong></li>
</ul>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;"><span style="font-weight: 400;">لا يجوز لك الوصول إلى التطبيق أو استخدامه لأي غرض بخلاف
        الغرض الذي نجعل التطبيق متاحًا من أجله. لا يجوز استخدام التطبيق فيما يتعلق بأي مساعي تجارية باستثناء تلك التي
        يتم اعتمادها أو الموافقة عليها بشكل خاص من قبلنا.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">بصفتك مستخدمًا للتطبيق ، فإنك توافق على عدم:</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">استرجاع البيانات أو المحتوى الآخر بشكل منهجي من التطبيق
        لإنشاء أو تجميع ، بشكل مباشر أو غير مباشر ، مجموعة أو تصنيف أو قاعدة بيانات أو دليل دون إذن كتابي منا. القيام
        بأي استخدام غير مصرح به للتطبيق ، بما في ذلك جمع أسماء المستخدمين و / أو عناوين البريد الإلكتروني للمستخدمين عن
        طريق الوسائل الإلكترونية أو غيرها بغرض إرسال بريد إلكتروني غير مرغوب فيه ، أو إنشاء حسابات مستخدمين بوسائل آلية
        أو بحجج زائفة.استخدم وكيل شراء لإجراء عمليات شراء على التطبيق.استخدام التطبيق للإعلان أو العرض لبيع السلع
        والخدمات.التحايل على ميزات التطبيق المتعلقة بالأمان أو تعطيلها أو التدخل فيها بأي شكل آخر ، بما في ذلك الميزات
        التي تمنع أو تقيد استخدام أو نسخ أي محتوى أو تفرض قيودًا على استخدام التطبيق و / أو المحتوى الوارد فيه.الانخراط
        في تأطير غير مرخص أو ربط التطبيق.خداعنا أو تضليلنا نحن والمستخدمين الآخرين ، خاصة في أي محاولة لمعرفة معلومات
        الحساب الحساسة مثل كلمات مرور المستخدم ؛</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">الاستخدام غير السليم لخدمات الدعم الخاصة بنا أو إرسال
        تقارير كاذبة عن إساءة أو سوء سلوك.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">الانخراط في أي استخدام آلي للنظام ، مثل استخدام البرامج
        النصية لإرسال التعليقات أو الرسائل ، أو استخدام أي استخراج للبيانات ، أو الروبوتات ، أو أدوات مماثلة لجمع
        البيانات واستخراجها.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">التدخل في أو تعطيل أو إنشاء عبء على التطبيق أو الشبكات أو
        الخدمات المتصلة بالتطبيق.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">محاولة انتحال شخصية مستخدم أو شخص آخر أو استخدام اسم
        مستخدم آخر.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">بيع أو نقل ملفك الشخصي.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">استخدام أي معلومات تم الحصول عليها من التطبيق من أجل
        مضايقة أو إساءة أو إيذاء شخص آخر.</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">استخدام التطبيق كجزء من أي جهد أو المحتوى بأي طريقة أخرى
        لأي محاولة مدرة للدخل أو مؤسسة تجارية.</span></p>
<p style="text-align: right;"><strong>تمثيلات المستخدم</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">باستخدام التطبيق ، أنت تقر وتضمن ما يلي: (1) أن جميع
        معلومات التسجيل التي ترسلها ستكون صحيحة ودقيقة وحديثة وكاملة ؛ (2) ستحافظ على دقة هذه المعلومات وتحديث معلومات
        التسجيل على الفور حسب الضرورة ؛ (3) لديك الأهلية القانونية وتوافق على الامتثال لشروط الاستخدام هذه ؛ (4) أن لا
        يقل عمرك عن 13 عامًا ؛ (5) ليس قاصرًا في السلطة القضائية التي تقيم فيها ، أو إذا كنت قاصرًا ، فقد حصلت على إذن
        الوالدين لاستخدام الموقع ؛ (6) لن تتمكن من الوصول إلى التطبيق من خلال وسائل آلية أو غير بشرية ، سواء من خلال
        الروبوت أو البرنامج النصي أو غير ذلك ؛ (7) لن تستخدم التطبيق لأي غرض غير قانوني أو غير مصرح به ؛ و (8) لن ينتهك
        استخدامك للتطبيق أي قانون أو لائحة سارية.</span></p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;"><span style="font-weight: 400;">تسجيل المستخدم</span></p>
<p style="text-align: right;"><span style="font-weight: 400;">قد يُطلب منك التسجيل في التطبيق. أنت توافق على الحفاظ على
        سرية كلمة المرور الخاصة بك وستكون مسؤولاً عن جميع استخدامات حسابك وكلمة المرور. نحتفظ بالحق في إزالة اسم مستخدم
        تحدده أو استعادته أو تغييره إذا قررنا ، وفقًا لتقديرنا الخاص ، أن اسم المستخدم هذا غير لائق أو مسيئ أو مرفوض بأي
        شكل آخر.</span></p>
<p style="text-align: right;"><strong>استخدام الترخيص</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">إذا قمت بالوصول إلى التطبيق عبر تطبيق محمول ، فإننا نمنحك
        حقًا قابلاً للإلغاء وغير حصري وغير قابل للتحويل ومحدودًا لتثبيت واستخدام تطبيق الهاتف المحمول على الأجهزة
        الإلكترونية اللاسلكية التي تمتلكها أو تتحكم فيها ، وللوصول إلى تطبيق الهاتف المحمول على هذه الأجهزة بما يتفق
        تمامًا مع أحكام وشروط ترخيص تطبيق الهاتف المحمول الوارد في شروط الاستخدام هذه. لا يجوز لك: (1) فك الشفرة أو
        الهندسة العكسية أو تفكيك أو محاولة اشتقاق شفرة المصدر للتطبيق أو فك تشفيره ؛ (2) إجراء أي تعديل أو تكييف أو
        تحسين أو ترجمة أو عمل مشتق من التطبيق ؛ (3) تنتهك أي قوانين أو قواعد أو لوائح سارية فيما يتعلق بوصولك أو
        استخدامك للتطبيق ؛ (4) إزالة أو تغيير أو إخفاء أي إشعار ملكية (بما في ذلك أي إشعار بحقوق النشر أو العلامة
        التجارية) تم نشره من قبلنا أو من قبل الجهات المرخصة للتطبيق ؛ (5) استخدام التطبيق في أي محاولة مدرة للدخل أو
        مؤسسة تجارية أو أي غرض آخر لم يتم تصميمه أو الغرض منه. (6) إتاحة التطبيق عبر شبكة أو بيئة أخرى تسمح بالوصول أو
        الاستخدام بواسطة أجهزة أو مستخدمين متعددين في نفس الوقت ؛ (7) استخدام التطبيق لإرسال استعلامات تلقائية إلى أي
        موقع ويب أو لإرسال أي بريد إلكتروني تجاري غير مرغوب فيه (8)&nbsp; استخدام أي معلومات ملكية أو أي من واجهاتنا أو
        ملكيتنا الفكرية الأخرى في تصميم أو تطوير أو تصنيع أو ترخيص أو توزيع أي تطبيقات أو ملحقات أو أجهزة للاستخدام مع
        التطبيق.</span></p>
<p style="text-align: right;"><strong>القانون المعمول به</strong></p>
<p style="text-align: right;"><span style="font-weight: 400;">يحكم القانون المصرى&nbsp; شروط الاستخدام والموضوع والتكوين
        (وأي نزاعات أو مطالبات غير تعاقدية). كلانا متفق على أن المحاكم المصرية&nbsp; لها الاختصاص الحصري.</span></p>
<p style="text-align: right;"><br /><br /></p>